<footer class="container-fluid brand">
  <div class="row">
    <div class="col-5">
      <h1><i class="fa fa-phone ms-2 mt-5"></i> CONTACTS</h1>
    </div>
    <div class="col-3 links my-4">
      <h3><u>LINKS</u></h3>
      <span>
        <a href="/contacts/admin">Manage Contacts</a>
        <a href="/contacts/add">Add Contacts</a>
        <!-- <a href="/contacts/edit/:id">Edit Contacts </a>
        <a href="/contacts/view/:id">View Contacts</a> -->
      </span>
    </div>
    <div class="col-3 d-flex flex-column m-4">
      <span class="mt-2">Manage contacts effectively!</span>
      <span class="mt-2">Copyright @2022 CONTACTS APP RESOURCES</span>
    </div>
  </div>
</footer>
