<div class="container">
  <div class="card shadow-lg design">
    <div class="row pt-2 mt-2 c5">
      <h3>अधिक्षण अभियंता तथा समस्त कर्मचारी वर्ग</h3>
    </div>
    <div class="row c5">
      <h3>हिमाचल प्रदेश जल शक्ति विभाग आपको</h3>
    </div>
    <div class="row c1">
      <h4>पेयजल योजना बारल, हार एवं डुगली के सुधार का उद्घाटन</h4>
    </div>
    <div class="row c1">
      <img src="../../assets/rakesh.jpg" alt="photo" class="pt-2" />
    </div>
    <div class="row p-2 c2">
      <h1>श्री राकेश जम्वाल जी</h1>
    </div>
    <div class="row c6">
      <h5>(माननीय विधायक सुन्दर नगर विधान सभा क्षेत्र)</h5>
    </div>
    <div class="row c1">
      <h5>के कर कमलो द्वारा</h5>
    </div>
    <div class="row c1">
      <h5>मंगलवार को 04 अक्टूबर 2022 दोपहर बाद 3:00 बजे</h5>
    </div>
    <div class="row c1">
      <h5>बारल, हार एवं डुगली तहसील सुन्दर नगर जिला मंडी</h5>
    </div>
    <div class="row c1">
      <h5>में सादर आमंत्रित है</h5>
    </div>

    <div class="row c3 justify-content-between">
      <div class="col-5 text-start ms-3">
        <h6>उत्तराभिलाषी</h6>
        <h6>अधिशाषी अभियंता</h6>
        <h6>जल शक्ति मण्डल सुन्दर नगर</h6>
        <h6>(हि० प्र०) दूरभाष- 01907262712</h6>
      </div>
      <div class="col-5 text-end me-3">
        <h6>विनीत</h6>
        <h6>अधिक्षण अभियंता</h6>
        <h6>जल शक्ति वृत्त सुन्दर नगर</h6>
        <h6>(हि० प्र०) दूरभाष- 01907262712</h6>
      </div>
    </div>
  </div>
</div>
