.user-details {
  .card {
    border-radius: 30px;
    background-color: #d6cfe7;

    input,
    select {
      padding: 5px;
      margin-top: 10px;
    }
  }
  img {
    width: 100%;
    height: 270px;
    border-radius: 200px;
  }
}
