.user-details {
  .card {
    border-radius: 50px;
    background-color: #d6cfe7;
    span {
      margin-top: 5px;
    }
  }
  img {
    height: auto;
    width: 100%;
    border-radius: 50px;
  }
}
