<div class="container text-center my-3">
  <h1 class="my-5"><i class="fa fa-pen"></i> Edit Contacts</h1>
  <span>
    Update the fields you want to change/update and keep the old ones where
    there is no change/update!
  </span>
</div>
<div class="container my-5 text-center user-details">
  <div class="row justify-content-center">
    <div class="col-4">
      <form class="d-flex flex-column card p-4 shadow-lg" name="form" >
        <input
          [(ngModel)]="contact.name"
          [value]="contact.name"
          type="text"
          name="name"
          placeholder="Full Name"
        />
        <input
          [(ngModel)]="contact.photo"
          [value]="contact.photo"
          type="text"
          name="photo"
          placeholder="Photo URL"
        />
        <input
          [(ngModel)]="contact.email"
          [value]="contact.email"
          type="text"
          name="email"
          placeholder="Email Id"
        />
        <input
          [(ngModel)]="contact.mobile"
          [value]="contact.mobile"
          type="text"
          name="mobile"
          placeholder="Mobile Number"
        />
        <input
          [(ngModel)]="contact.company"
          [value]="contact.company"
          type="text"
          name="company"
          placeholder="Company"
        />
        <input
          [(ngModel)]="contact.title"
          [value]="contact.title"
          type="text"
          name="title"
          placeholder="Title"
        />
      <select
          [(ngModel)]="contact.groupId"
          [value]="contact.groupId"
          name="groupId"
          id="gp"
          title="group-select"
        >
          <option selected>Select a Group</option>
          <option [value]="groups.id" *ngFor="let groups of group">
            {{ groups.name }}
          </option>
        </select>
      </form>
    </div>
    <div class="col-3">
      <img src="{{contact.photo}}" alt="user picture" class="img-fluid" />
      <span>
        <button class="btn btn-dark" type="submit" (click)="editSubmit()">Update</button>
        <button class="btn btn-dark" type="reset" routerLink="/contacts/admin">Close</button>
      </span>
    </div>
  </div>
</div>
